
/* Reset margin and padding */
* {
    margin: 0;
    padding: 0;
    }
html {
    scroll-behavior: smooth; 
}

body{
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    background-color: #eee;
}

    /* --------------------------Nav bar ----------------------------- */
nav {
    position: fixed;
    background-color: #e60012;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    margin-top: -10vh;
    z-index: 1;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 17%;
}
.search{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wish-list{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*------------------ Nav bar right buttons ------------------------*/
.container-nav-right{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.icon{
    width: 32px;
    height: 32px;
    max-width: 100%;
    max-height: 100%;
}
a{
    text-align: center;
    font-size: 0.7em;
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

/* ----------- Content Images scroll --------------- */
.content{
    margin-top: 10vh;
    margin-left: 7%;
    display: flex;
    flex-direction: row;
}

/* ------------------Left aside -----------------------*/

.left-aside {
    position: fixed;
    width: 7%;
    height: 90vh;
    background-color: #6f0009;
    margin-left: -7%;
}
.left-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e60012;
    margin: 0px 0 1px 0;
    height: 12vh;
    width: 100%;
    font-size: 18px;
    border-radius: 0 10px 0 0;
}

.left-nav:hover{
    background-color: #e60013af;
}

/* ------------Container image ---------------- */

.container-img{
    margin: 5px;
    width: 66%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.container-img img{
    border-radius: 2%;
    padding: 2px;
    max-width: 99%;
    max-height: 99%;
    transition: transform 0.3s ease-out;
    grid-column: span 2;
}
.container-img img:hover{
    transform: translateY(-10px);
}

/* ------------ Image grid size -------------------- */
.portrait{
    grid-row: span 2;
}
.container-img .paysage {
    grid-column: span 4;
}
.container-img .animal{
    grid-column: span 3;
}
.container-img .nintendoStore{
    grid-column: span 6;
}
/* ----------------Aside last news ----------- */
.last-news{
    width: 35%;
    display: flex;
    flex-direction: column;
}
.title{
    margin-top: 8px;
    background-color: white;
    width: 99%;
    height: 8vh;
}
.title h2{
   height: 100%;
   padding: 18px;
   font-size: 1.143rem;
}
.article{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    background-color: white;
    width: 99%;
    height: auto;
}
.miniature img{
    width: 100%;
    height: 13vh;
    margin: 10px 10px 0 10px;
}
.txt{
    margin: 10px 10px 0 20px;
}
.txt a {
    color: black;
    font-size: 1em;
    font-weight: bold;
}
.date{
    font-size: .8rem;
    font-weight: 300;
}
.resume{
    font-size: .9286rem;
}
.btn-more{
    height: 50px;
    margin-top: 5px;
    margin-right: 5px;
    background-color: white;
    display: flex;
    justify-content: end;
    align-items: center;
}
.btn-more a{
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding-right: 20px;
}
.btn-more img{
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.btn-more-games{
    height: 50px;
    margin-top: 5px;
    margin-right: 5px;
    background-color: white;
    display: flex;
    justify-content: end;
    align-items: center;
}
.btn-more-games a{
    color:#bf0010;
    font-size: 15px;
    font-weight: bold;
    padding-right: 20px;
}

.btn-more-games img{
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
/* ----------------- Social Media --------------------------- */

.container-social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2% 0 2% 0;
    margin-left: 7.2%;
    width: 60%;
    height: 100px;
    background-color: #333;
}
.txt-share{
    width: 50%;
    color: white;
    text-align: center;
    font-size: 40px;
}
.txt-share p{
    width: 50%;
    margin-left: 15%;
}

.button-share{
    display: flex;
    flex-direction: row;
    width: 50%;
}
.facebook{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b5998;
    border-radius: 5px;
    width: 35%;
}
.facebook img{
    width: 20%;
}
.facebook a{
    width: 80%;
    font-size: 1em;
    color: white;
}
.twitter{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #55acee;
    border-radius: 5px;
    margin-left: 20px;
    width: 35%;
}
.twitter img{
    width: 20%;
}
.twitter a{
    width: 80%;
    font-size: 1em;
    color: white;
}
/* ---------------FOOTER---------------------- */

footer{
    width: 100%;
    height: 25vh;
}
.top-footer {
    display: flex;
    flex-direction: row;
    margin-left: 7.2%;
    width: 60%;
    height: 30%;
    background-color: #e60012;
    border-radius: 5px 5px 0 0;
}
.down-footer{
    margin-left: 7.2%;
    width: 60%;
    height: 101%;
    background-color: #bf0010;
    display: flex;
    flex-direction: column;
}
.logo-footer{
    display: flex;
    width: 100%;
    height: 100%;

}
.go-to-top{
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border-radius: 0 0 4px 4px;
    box-shadow: 0.5px 3px 2px -2px #333;
    display: block;
    height: 20px;
    left: -22px;
    padding: 8px;
    margin-right: 6%;

}
.go-to-top a img{
    z-index: 1;
    max-width: 100%;
    max-height: 100%;
}
.logo-footer img{
        width: 17%;
}

.links{
        margin-top: 3%;
    height: 40%;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    margin-left: 5%;
    margin-right: 30%;
}
.links a {

    margin-right: 30px;
}
.policy{
    height: 40%;
    margin-top: 5%;
    margin-left: 5%;
}
.policy a {
    color: #fff;
    font-size: .857rem;
    font-weight: 400;
    margin-right: 20px;
}
.copyright{
    height: 20%;
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

@media (max-width: 950px){
    .content{
        display: flex;
        flex-direction: column;
    }
    .container-img{
        width: 100%;
    }
    .last-news{
        width: 100%;
    }
}